@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

/*  universal ======================== */

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*  universal/typography ======================== */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*  universal/header ======================== */

header{
  margin-bottom: 30px;
}

nav ul{
  list-style: none;
  margin: 0;
}

nav ul li{
  float: left;
  padding-left: 25px;
}

/*  universal/pagination ======================== */
ul.pagination{
  margin: 0 auto;
}

ul.pagination li{
  padding: 10px;
}
/*  universal/footer ======================== */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form{
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/*  users/index ======================== */
.users-index-item a{
  display: table;
}

/*  users/relationships ======================== */
#follow_form{
  width: 15%;
  margin: 0 auto;
}

/*  posts/index ======================== */
.posts-index{
  padding-top: 25px;
  border-bottom: 1px solid #eaeaea;
  color: #777;
  margin: 0 auto;
}

.posts-index-item a{
  font-size: 1.2em;
}

.posts-index-content{
  font-size: 1.5em;
}

.timestamp{
  font-size: 0.7em;
  display: inline;
  padding-left: 17px;
}

#comment{
  padding-left: 4%;
}

// #like{
//   border-bottom: 1px solid #eaeaea;
//   padding: 6px 0 4px 0;
//   float: right;
//   width: 96%;
// }

.like-button{
  color: #9a90904d;
}

.liked-button{
  color: #e01010;
}

#comment_form{
  width: 90%;
  margin: 10px auto;
}

.btn-post{
  color: #767676;
  border: solid 1px #a9a5a5;
}

/*  posts/new ======================== */
.field{
  height: 165px;
}

.field textarea{
  height: 144px;
}


